<p><%= flash[:alert] %></p>
<h2>게시글 작성</h2>

<form action="/board/write_complete" method="post">
  <p style="color: #ff0000">분류:
  <select name="post_category">
    <option value="중고장터">중고장터</option>
    <option value="공동구매">공동구매</option>
    <option value="나눔">나눔</option>
    <option value="도와주세요">도와주세요</option>
  </select></p>
  <p><label>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요."></label></p>

	<p><label>가격: <input type="text" name="post_price" placeholder="원단위"></label></p>

	<p><label>연락처: <input type="text" name="post_number" value="<%= @user.number %>" placeholder="Phone or KaKaO"></label></p>
  <p><label>내용: <textarea name="post_content" placeholder="내용을 입력하세요."></textarea></label></p>
  <input type="submit" value="추가하기">
</form>
