<!DOCTYPE html>
<html>
<head>
  <title>Nanum</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
	<nav>
	<h4><a href="/">Beta tester</a> || <a href="/used">중고장터</a> | <a href="/together">공동구매</a> | <a href="/give">나눔</a> | <a href="/help">도와주세요</a> || <a href="#">글쓰기</a> | <a href="#">Login</a></h4>
	</header>
	</nav>
<%= yield %>

</body>
</html>
